.imagen4{
    text-align: center;
}

.cuadro1{
    background: black;
    color: white;
    text-align: center;
}

.cuadro2{
    background:gray;
    color: white;
    text-align: center;
}

.cuadro3{
    color: black;
    text-align: justify;
}

.cuadro4{
    color: black;
    text-align: center;
}

.cuadro5{
    color: white;
    background: gray;
    text-align: center;
    height: 500px;
}

@media screen and (max-width:990px) {
    .bajar{
        margin-top: 500px;
    }
.video{
    height: 525px;
    background: gra;
}
}

.redes{
    text-align:center;
}

.formulario{
    margin-left: 100px;
    margin-right: 100px;
    color:black;
    font-size: 20px;
    text-align: center;
}

.casillas{
    background: #ece5e5;
}

.dato{
    text-align: center;
}

.final{
    text-align: center;
    color: white;
}

